

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDIAN CULTURE MANAGEMENT SYSTEM</title>
</head>
<body align="center" bgcolor="saddlebrown">

<h2 align="center" style="font-size: 50px">Indian Culture Management System</h2>

<a href="{% url 'home' %}">home</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">Change Password</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{% url 'adminlogout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;

<br><br>

</body>
</html>